<div class='container'>
    <h2><b>BIENVENIDO AL SISTEMA DE GESTIÓN DE TAREAS</b></h2>
    <p> <span class="label label-success">Podrá Presionar el botón de consultar para ir al item de consultas..</span></p>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" align="right">
        <li class="breadcrumb-item active" aria-current="page"><a href="~/tareas/consultar/@ViewData["principal"]" align="right"><img src="~/images/www.png" width="30px" height="30px" /></a></li>
    </ol>
</nav>